@import "../theme";
@import "../media-queries";

nav {
  input,
  label {
    display: none;
  }

  label {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    background-color: $color-main;
    color: $color-light;
    padding: $standard-padding 0;
  }

  ul {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 0.2em;
    margin-inline: 0.2em;

    li {
      flex: 1;
      background: $color-main;
      color: $color-light;
      text-align: center;
      font-weight: bold;
    }

    a {
      color: inherit;
      padding-block: 0.8em;
    }
  }
}

@media screen and (max-width: $mq-phone) {
  nav {
    label {
      display: block;

      &::after {
        content: "▼";
        font-size: 1rem;
        margin-inline-start: 0.5em;
      }
    }

    ul {
      max-height: 0;
      overflow: hidden;
      margin: 0;
      flex-direction: column;
      gap: 0;
      transition: max-height 0.5s ease;
      -moz-transition: max-height 0.5s ease;
      -o-transition: max-height 0.5s ease;
      -webkit-transition: max-height 0.5s ease;

      li {
        margin: 0;

        .button {
          margin: 0;
        }
      }
    }

    input:checked {
      ~ ul {
        // Kind of hacky, but height: 100% is not animatable, so we have to specify an absolute height
        // Increase max-height if menu gets cut off
        max-height: 20rem;
      }

      ~ label::after {
        content: "▲";
      }
    }
  }
}
