@import "../theme";

.newsletter {
  display: flex;
  flex-direction: column;
  gap: 1em;

  label {
    display: flex;
    gap: 1em;
    flex-direction: column;
    font-weight: bold;

    &:has(input[type="checkbox"]) {
      flex-direction: row;
      gap: 0.5em;
      align-items: center;
    }
  }

  input {
    font-size: 1em;
    padding: 0.5em;
  }

  aside {
    color: $color-main;
    font-size: 0.85em;
  }

  p {
    margin: 0;
  }

  button {
    border: none;
    font-size: inherit;
  }
}
