@import "../theme";

#team {
  background-color: $color-main;
  margin-top: $wrapper-margin;

  h2 {
    text-align: center;
    color: $color-light;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

    li {
      display: inline-block;
      position: relative;
      width: 15rem;
      height: 19rem;
      margin: 0.4rem 0.3rem;
      border-radius: 0.5rem;
      overflow: hidden;
      background-color: $color-light;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
    .team-card {
      display: flex;
      flex-direction: column;
      height: 100%;
      margin: 1rem auto;
    }
    .team-image-container {
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      margin: 0 auto;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      .team-image {
        max-width: 100%;
        max-height: 100%;
      }
    }
    .team-info {
      flex: 0 1 auto;
      padding: 0.5rem;
      text-align: center;

      h4 {
        margin: 0.5rem 0;
        color: $color-dark;
      }

      p {
        margin: 0.5rem 0;
        color: $color-dark;
      }
    }

    .has-story {
      .story-container {
        display: none;
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 10;

        .story {
          background: white;
          padding: 2rem;
          max-width: calc(#{$wrapper-width} - #{$wrapper-margin});
          max-height: 90%;
          position: fixed;
          top: 50%;
          left: 50%;
          transform: translate3d(-50%, -50%, 0);
          overflow: scroll;
          color: $color-dark;
        }
      }

      .back::before {
        display: block;
        content: "";
        position: absolute;
        bottom: 5%;
        right: 5%;
        width: 5px;
        height: 5px;
        border-bottom: 2px solid black;
        border-left: 2px solid black;
      }

      .back::after {
        display: block;
        content: "";
        position: absolute;
        bottom: 5%;
        right: 5%;
        width: 0;
        height: 0;
        border-left: 4px solid black;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        transform: translate3d(2px, 3px, 0);
      }
    }
  }
}
