@import "../theme";
@import "../media-queries";

.card-properties {
  .icon {
    width: 1rem;
    height: 1rem;
    margin-right: 0.3rem;
    @include theme() {
      filter: theme-get("icon-filter-color");
    }
  }

  .tag {
    background: $color-main;
    border-radius: 3px;
    color: $color-light;
    padding: 0 0.2rem;
  }

  p {
    display: flex;
    flex-direction: row;
    align-items: center;

    .tag {
      margin: 0 0.2rem;

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

.all-workshops {
  grid-area: broad;

  #filter {
    border: 1px solid $color-dark;
    @include theme() {
      border-color: theme-get("text-color");
    }
    height: auto;
    max-height: 0;
    overflow: hidden;
    transition: max-height 200ms ease-in-out;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;

    &.show {
      max-height: 11rem; // Extend if needed (e.g. number of category tags increases). Remember to also increase height for mobile design.
      transition: max-height 200ms ease-in-out;
    }

    & > label {
      margin: 0.5rem 0;
      display: flex;

      &:first-of-type {
        padding-top: 0.5rem;
      }

      &:last-of-type {
        padding-bottom: 0.5rem;
      }

      span {
        width: 1/8 * 100%;
      }

      select,
      div {
        width: 7/8 * 100%;
        padding: 0;
      }
    }

    .category {
      margin: 0 0.5rem 0.5rem 0;
      display: inline-block;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  li {
    border: 1px solid #888888;
    border-radius: 5px;
    max-width: calc(33% - 1rem);
    margin: 0.5rem 0.5rem;
    overflow: hidden;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
  }

  div {
    padding: 0 1rem;
  }
}

.single-workshop {
  img {
    max-width: 100%;
  }
}

@media screen and (max-width: $mq-phone) {
  .all-workshops {
    #filter {
      &.show {
        max-height: 21rem;
      }

      & > label {
        flex-direction: column;
      }
    }

    li {
      max-width: 100%;
      width: 100%;
      margin: 0 0 1rem;
    }
  }
}
