@import "../theme";
@import "../media-queries";

.card-properties {
  .icon {
    width: 1rem;
    height: 1rem;
    margin-right: 0.3rem;
    @include theme() {
      filter: theme-get("icon-filter-color");
    }
  }

  .tag {
    background: $color-main;
    border-radius: 3px;
    color: $color-light;
    padding: 0 0.2rem;
  }

  p {
    display: flex;
    flex-direction: row;
    align-items: center;

    .tag {
      margin: 0 0.2rem;

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}


.single-workshop {
  img {
    max-width: 100%;
    max-height: 40vh;
    object-fit: cover;
  }

  .tags {
    text-align: center;
    padding-top: 0.5em;

    .btn-info {
      background-color: #f2a23a;
      color: #111111;
      border-color: #111111;
    }

    li {
      font-size: 0.5em;
      list-style-type: none;
      display: inline-block;
      margin: 0.6em 0.2em;
    }

    a {
      text-decoration: none !important;
    }
  }
}


.tags {
  text-align: left;
  padding-top: 0.5em;

  .btn-info {
    background-color: #f2a23a;
    color: #111111;
    border-color: #111111;
  }

  li {
    font-size: 0.5em;
    list-style-type: none;
    display: inline-block;
    margin: 0.6em 0.2em;
  }

  a {
    text-decoration: none !important;
  }
}

.all-workshops {
  .workshop-card {
    padding-top: 1rem;
    max-width: 100%;
    display: inline-block;

    .card {
      margin: 1%;
      position: relative;

      .btn-info {
        background-color: #f2f2f2;
        color: #111111;
        border-color: #111111;

        &:hover,
        &:focus {
          border-color: #111111;
          background-color: #f2a23a;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .card-body {
        a:link {
          text-decoration: none !important;
        }

        .icon {
          width: 1rem;
          height: 1rem;
          margin-right: 0.3rem;
          @include theme() {
            filter: theme-get("icon-filter-color");
          }
        }

        div.post-summary {
          max-width: 100%;
          max-height: 100%;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 4;
          overflow: hidden;
        }
      }

      .card-footer {
        margin-top: auto;
        border-radius: 0;
        background-color: #f2a23a;

        a.btn {
          text-decoration: none;
        }

        span {
          font-size: 10pt;
          color: #f2f2f2;
          padding-top: 5px;
        }
      }
    }
  }
}

@media screen and (max-width: $mq-phone) {
  .all-workshops {

    li {
      max-width: 100%;
      width: 100%;
      margin: 0 0 1rem;
    }
  }
}
