@import "../theme";
@import "../media-queries";

.card-properties {
  .icon {
    width: 1rem;
    height: 1rem;
    margin-inline-end: 0.3rem;
    @include theme() {
      filter: theme-get("icon-filter-color");
    }
  }

  .tag {
    background: $color-main;
    border-radius: 3px;
    color: $color-light;
    padding: 0 0.2rem;
  }

  p {
    display: flex;
    flex-direction: row;
    align-items: center;

    .tag {
      margin: 0 0.2rem;

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

.all-workshops {
  grid-area: broad;

  ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
  }

  li {
    border: 1px solid;
    @include theme() {
      border-color: theme-get("bg-offset-color");
    }
    border-radius: 5px;
    overflow: hidden;
  }

  h2 {
    font-size: 1.2em;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
  }

  div {
    padding: 0 1rem;
  }
}

.single-workshop {
  img {
    max-width: 100%;
  }
}

@media screen and (max-width: $mq-phone) {
  .all-workshops {
    ul {
      grid-template-columns: 1fr;
    }
  }
}
