@import "../theme";
@import "../media-queries";

header {
  a {
    display: block;
    text-decoration: none;

    .hidden-title {
      display: none;
    }

    .site-logo {
      display: block;
      width: 50rem;
      max-width: 100%;
      margin: 0 auto 4.5em auto;
    }
  }
}

.dark-site-title {
  @include theme() {
    display: theme-get("display-property-dark-title");
  }
}

.site-title {
  @include theme() {
    display: theme-get("display-property-light-title");
  }
}

