@import "theme";
@import "layout/header";
@import "layout/footer";
@import "components/button";
@import "components/navigation";
@import "layout/main";
@import "components/team";
@import "components/workshops";
@import "components/theme-switcher";
@import "components/sdg-icons";
@import "components/newsletter";

/* General */
* {
  box-sizing: border-box;
}

body {
  font: 100% "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
  @include theme() {
    background-color: theme-get("bg-color");
    color: theme-get("text-color");
  }
}

h1 {
  font-size: 1.8em;
}

p {
  line-height: 1.5;
}

.wrapper {
  width: 100%;
  max-width: $wrapper-width;
  margin: $wrapper-margin auto;
}

svg {
  @include theme() {
    fill: theme-get("svg-fill-color");
  }
}

[hidden] {
  display: none !important;
}
