<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="{{.Site.LanguageCode}}">
  {{ block "head.html" . }}
  <head>
    <title>{{ block "title" .}}{{ .Site.Title }}{{ end }}</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {{ $scss := resources.Get "/scss/style.scss" }}
    {{ $style := $scss | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" type="text/css" href="{{ $style.RelPermalink }}" />
    <script src="{{ .Site.BaseURL }}/js/obfuscate.js"></script>
    <script src="{{ .Site.BaseURL }}/js/color-theme-switch.js"></script>
  </head>
  {{ end }}
  <body>
    {{ block "header.html" . }}
    <header class="site-header wrapper" role="banner">
        <label id="switch" class="switch">
          <input type="checkbox" id="slider" />
          <span class="slider round"></span>
        </label>
      <a class="site-title site-title-light" href="{{ .Site.BaseURL }}">
        <h1 class="hidden-title" rel="author">{{.Site.Title}}</h1>
        <img
          class="site-logo"
          src="{{ .Site.BaseURL }}/images/logo.webp"
          alt="logo"
        />
      </a>

      <a class="site-title site-title-dark" href="{{ .Site.BaseURL }}">
        <h1 class="hidden-title" rel="author">{{.Site.Title}}</h1>
        <img
          class="site-logo"
          src="{{ .Site.BaseURL }}/images/logo_dark.webp"
          alt="logo"
        />
      </a>

      {{ partial "main-menu.html" (dict "page" .) }}
    </header>
    {{ end }}

    <main id="content" class="wrapper columns" aria-label="Content">
      {{ block "main" . }}{{ end }}
    </main>

    {{ block "footer.html" . }}
    <footer class="wrapper">
      <p>Mit <3 gemacht vom CoderDojo Schöneweide Team</p>
      <p>Auf GitHub gehostet</p>
      {{ partial "footer-menu.html" }}
    </footer>
    {{ end }}
    <script src="{{ .Site.BaseURL }}js/story-modal.js"></script>
    <script src="{{ .Site.BaseURL }}js/filters.js"></script>
  </body>
</html>
