{{ define "main" }}
<section id="all-posts">
    <h2>{{ .Title }}</h2>
    {{ $readingTime := slice }}
    {{ $tags := slice }}
    {{ range .Pages }}
    {{ if not (in $readingTime .ReadingTime) }}
    {{ $readingTime = $readingTime | append .ReadingTime }}
    {{ end }}
    {{ range .Params.tags }}
    {{ if not (in $tags .) }}
    {{ $tags = $tags | append . }}
    {{ end }}
    {{ end }}
    {{ end }}
    {{$tags = sort $tags}}
    {{$readingTime = sort $readingTime}}
    <a href="#" id="filter-toggle">Filter <span>▸</span></a>
    <div id="filter-blogs">
        <label for="title-search-filter">
            <span>Suche:</span>
            <input type="search" id="title-search-filter" name="search-title" placeholder="Titel des Blogs"
                   spellcheck="true"/>
        </label>
        <label for="readingTime-filters">
            <span>Lesedauer:</span>
            <select id="readingTime-filters">
                <option value="">Alle</option>
                {{ range $readingTime }}
                <option value="{{ . }}">{{ . }}min</option>
                {{ end }}
            </select>
        </label>
        <label>
            <span>Kategorien:</span>
            <div id="tag-filters">
                {{ range $tags }}
                <label class="category">
                    <input type="checkbox" value="{{ . }}">
                    #{{ . }}
                </label>
                {{ end }}
            </div>
        </label>
    </div>
    <div class="container-fluid" id="results">
        <div class="row post-list">
            {{ range (.Paginator 5).Pages }}
            <div class="alert alert-secondary bg-opacity-10" role="alert" id="result-item"
                 data-readingtime="{{ .ReadingTime }}"
                 data-tags="{{ .Params.tags }}"
                 data-title="{{ .Title }}">
                <a href="{{ .Permalink }}">
                    <h3>{{ .Date.Format "02.01.2006" }} | {{ .Title }}</h3>
                    <p>Lesedauer: ca. {{ .ReadingTime }} Minute{{ if ne .ReadingTime 1 }}n{{ end }}</p>
                    <p class="summary"> {{ .Summary }}</p>
                    {{ if .Truncated }}
                    <p class="ellipsis"> ... </p>
                    {{ end }}
                </a>
                {{ range .Params.tags }}
                <span>#{{ . }}</span>
                {{ end }}
            </div>
            {{ end }}
        </div>
        <div class="pagination justify-content-center">
            {{ template "_internal/pagination.html" . }}
        </div>
    </div>
</section>
{{ end }}