{{ define "main" }}
<section class="all-workshops">
    <h1>{{ .Title }}</h1>
    <ul id="results">
        {{ range .Pages }}
        <li>
            <a href="{{ .RelPermalink }}">
                <img src="{{ if .Params.image }}{{ (.Page.Resources.GetMatch .Params.image).RelPermalink }}{{ else }}/images/placeholder.svg{{ end }}"
                     alt="parents thumbnail">
                <div class="card-properties">
                    <h2>{{ .Title }}</h2>
                </div>
            </a>
        </li>
        {{ end }}
    </ul>
</section>
{{ end }}

{{ define "meta" }}
    <meta name="description" content="{{ .Description }}" />
    <meta name="keywords" content="{{ range $index, $element := .Params.keywords }}{{ if $index }}, {{ end }}{{ $element }}{{ end }}" />
{{ end }}
