{{ define "main" }}
<section class="all-workshops">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    {{ range .Pages }}
    <a href="{{ .Params.projectLink }}"><h3> {{ .Title }} </h3></a>
    <iframe allowtransparency="true" src="{{ .Params.projectLink }}/embed?autostart=false"
            allowfullscreen></iframe>
    {{ .Content }}
    {{ end }}
</section>
{{ end }}

{{ define "meta" }}
    <meta name="description" content="Entdecken Sie kreative Kinderprojekte vom CoderDojo Schöneweide. Spielen Sie Spiele und sehen Sie Geschichten, die unsere jungen Talente entwickelt haben." />
    <meta name="keywords" content="Kinderprojekte, CoderDojo Schöneweide, Spiele, Scratch-Projekte, Programmierung, Coding, Partikeleffekte, Kooperationsprojekte, Jugendliche Entwickler" />
{{ end }}
