<h2>Wir unterstützen</h2>
<div class="sdg">
    <a href="https://unric.org/de/17ziele/" target="_blank">
        <img src="/images/sdg/SDG_logo.png" alt="Logo der UN-Ziele für nachhaltige Entwicklung">
        <div class="sdg-icons">
            <img src="/images/sdg/SDG_icons_DE-04.png" alt="Icon für SDG-Ziel Hochwertige Bildung">
            <img src="/images/sdg/SDG_icons_DE-05.png" alt="Icon für SDG-Ziel Geschlechtergleichheit">
            <img src="/images/sdg/SDG_icons_DE-10.png" alt="Icon für SDG-Ziel Weniger Ungleichheiten">
        </div>
    </a>
</div>
