<div class="tags">
    <ul style="padding-left: 0;">
        {{ range .Params.tags }}
        <li class="rounded" id="{{ . }}"><a class="btn btn-sm btn-info">{{ . }}</a></li>
        {{ end }}
    </ul>
</div>
<span>
		<img class="icon" src="{{ .Site.BaseURL}}images/clock.svg" alt="duration icon">
		{{ .Params.duration }} |
	</span>
<span>
		<img class="icon" src="{{ .Site.BaseURL}}images/user.svg" alt="age icon">
		{{ .Params.age }} |
	</span>
<span>
		<img class="icon" src="{{ .Site.BaseURL}}images/knowledge.svg" alt="previous knowledge icon">
		{{ if .Params.prevKnowledge }}{{ .Params.prevKnowledge }}{{ else }}Keine Vorkenntnisse notwendig{{end}}
	</span>