{{ define "main" }}
<section>
    <div class="card mb-3 single-workshop bg-warning-subtle">
        {{ if .Params.image }}
        <img class="card-img-top"
             src="{{ (.Page.Resources.GetMatch .Params.image).RelPermalink }}"
             alt="workshop thumbnail">
        {{end}}
        <div class="card-body card-properties text-center">
            <h3 class="card-title">{{ .Title }}</h3>
            {{ partial "workshop-properties.html" . }}
        </div>
        <div class="card-body"><p>{{ .Content }}</p></div>
    </div>
</section>
{{ end }}
