{{ define "main" }}
<section class="single-workshop">
    <h1>{{ .Title }}</h1>
    {{ if .Params.image }}<img src="{{ (.Page.Resources.GetMatch .Params.image).RelPermalink }}"
                               alt="workshop thumbnail">{{end}}
    <div class="card-properties">
        <p>
            <img class="icon" src="/images/knowledge.svg" alt="previous knowledge icon">
            {{ if .Params.prevKnowledge }}{{ .Params.prevKnowledge }}{{ else }}Keine Vorkenntnisse notwendig{{end}}
        </p>
        {{ partial "workshop-properties.html" . }}
    </div>

    <p>{{ .Content }}</p>
</section>
<section class="accentuated">
    {{ (.Parent.GetPage "common").Content }}
</section>
{{ end }}

{{ define "meta" }}
    <meta name="description" content="Entdecke die Welt des Programmierens mit dem CoderDojo Schöneweide - Kostenlose Workshops für Kinder und Jugendliche von 7-17 Jahren, um spielerisch Coden zu lernen und digitale Probleme zu lösen. Jetzt anmelden und Teil unserer kreativen Community werden!" />
    <meta name="keywords" content="CoderDojo Schöneweide, Programmieren für Kinder, kostenlose Workshops, Coden lernen, digitale Kompetenz, kreative Computer-Nutzung, Projektbasiertes Lernen, kostenlos, Treptow-Köpenick, Berlin, {{ .Keywords }}" />
{{ end }}
